#!/usr/bin/env bash

export OPERATOR_DOCKER_ORGANIZATION=${OPERATOR_DOCKER_ORGANIZATION:-'cfcontainerization'}
export CF_OPERATOR_NAMESPACE=${CF_OPERATOR_NAMESPACE:-'cf-operator'}

[ -f .envrc.local ] && . ./.envrc.local
