+++
title = "Project Quarks"
linkTitle = "Project Quarks"

+++

{{< blocks/cover title="Quarks project documentation" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/cloudfoundry-incubator/quarks-operator/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Quarks enables the deployment of BOSH Releases, especially Cloud Foundry, to Kubernetes.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Quarks-operator enables the deployment of BOSH Releases, especially Cloud Foundry, to Kubernetes.

It's implemented as a k8s operator, an active controller component which acts upon custom k8s resources.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="BOSH to Kubernetes!" %}}

Quarks deploys dockerized BOSH releases onto existing Kubernetes cluster

* Supports operations files to modify manifest
* Service instance groups become pods, each job in one container
* Errand instance groups become QuarksJobs

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/cloudfoundry-incubator/quarks-operator" %}}
We do a [Pull Request](https://github.com/cloudfoundry-incubator/quarks-operator/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Get in touch on Slack!" url="https://cloudfoundry.slack.com/archives/C1BQKKNP4" %}}
For discussions, announcements, etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}